*{  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;  
  font-family: Arial, Helvetica, sans-serif; 
}  
header{ 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
} 
.loader {  
  display: none;  
  height: 14px;  
  --c: no-repeat linear-gradient(#000 0 0);  
  background: var(--c),var(--c),#fff;  
  background-size: 60% 100%;  
  animation: l16 3s infinite;  
}  
@keyframes l16 {  
  0%   {background-position:-150% 0,-150% 0}  
  66%  {background-position: 250% 0,-150% 0}  
  100% {background-position: 250% 0, 250% 0}  
}  
.rounded{ 
  border-radius: 10px; 
  margin-bottom: 10px; 
  background-color: rgba(250, 250, 250, 0.5); 
  padding: 5px; 
} 
.darckBg{ 
  border-radius: 10px; 
  background-color: rgba(200, 200, 200, 0.8); 
  padding: 5px; 
} 
.themeChange{ 
  width: 50px; 
  height: 50px; 
  cursor: pointer; 
  transition: 0.5s ease; 
} 
.themeChange.darkTheme{ 
  transform: rotate(180deg); 
  filter: invert(100%); 
} 
body{ 
  min-height: 100vh; 
  background-image: url(./img/background.jpg); 
  animation: bg-animation 1000s infinite linear; 
  padding: 50px 20px; 
} 
@keyframes bg-animation{ 
  0%{ 
      background-position: top left; 
  } 
  25%{ 
      background-position: top right; 
  } 
  50%{ 
      background-position: bottom right; 
  } 
  75%{ 
      background-position: bottom left; 
  } 
  100%{ 
      background-position: top left; 
  } 
} 
nav button{ 
  padding: 0 16px; 
  border: none; 
  background-color: transparent; 
  font-size: 18px; 
  cursor: pointer; 
} 
.active{ 
  background-color: orange; 
  border-radius: 6px; 
} 
.search{ 
  display: flex; 
  gap: 10px; 
} 
.search input{ 
  outline: none; 
  border: none; 
  padding: 5px; 
  flex-grow: 100; 
} 
.search button{ 
  border: none; 
  cursor: pointer; 
  padding: 5px 16px; 
  font-size: 16px; 
} 
.search button:hover{ 
  transition: 1s; 
  background-color: black; 
  color: white; 
} 
.movieTitle{ 
  text-align: center; 
  margin-bottom: 10px; 
} 
.movie{ 
  display: flex; 
  gap: 20px; 
  margin-bottom: 10px; 
} 
.movieIMG{ 
  width: 300px; 
  background-image: url(./img/film2.jpg); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
  min-height: 500px; 
  border-radius:10px 
} 
.movieInfo{ 
  width: 300px; 
  flex-grow: 100; 
} 
.desc{ 
  display: flex; 
  background-color: rgba(87, 87, 87, 0.8); 
  margin-bottom: 5px; 
} 
.desc div{ 
  width: 50%; 
} 
.title{ 
  font-weight: 700; 
} 
.similarMovieTitle{ 
  text-align: center; 
  margin-bottom: 10px; 
} 
.similarMovie{ 
display: grid; 
grid-template-columns: 1fr 1fr 1fr 1fr; 
gap: 10px; 
 
} 
.similarMovieCard{ 
  background-image: url(./img/film4.jpg); 
  min-height: 300px; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
  border-radius:  10px; 
  position: relative; 
} 
.save{ 
background-color:rgba(200, 200, 200, 0.8); 
padding: 5px; 
border-radius: 3px; 
width: 40px; 
height: 40px; 

position: absolute; 
top: 10px; 
left: 10px; 
} 
.save.saved{ 
filter: invert(1) sepia(1) saturate(10) hue-rotate(-45deg); 
} 
.similarMovieText{ 
background-color:rgba(200, 200, 200, 0.8); 
padding-top: 10px; 
padding-bottom: 10px; 
text-align: center; 
font-weight: bold; 
position: absolute; 
bottom: 0; 
width: 100%; 
border-radius: 0px 0px 10px 10px; 
} 
body{ 
transition: 0.5s; 
} 
.dark, .dark button, .dark input{ 
color: white; 
} 
.dark .rounded{ 
background-color:rgba(50, 50, 50, 0.5); 
} 
.dark .darckBg{ 
background-color:rgba(10, 10, 10, 0.5); 
}
.main{
  display: none;
}